<!DOCTYPE html>
<html lang="en">

<!--Loading head information & navbar-->
<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
<script>
    $(function () {
        $("#navbar").load("templates/navbar.handlebars")
    });
</script>
<div id="navbar"></div>

<!--Main body of page-->
<body class="container">
    <form id="addEventForm" role="form" method="get" action="/addEvent">
        <h4 style="color:#3399ff">
            <b>Choose method for adding new event</b>
        </h4>

        <table>
            <tr>
                <td colspan="3">
                    <a class="btn btn-default" href="#">Import Event
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a> (Unimplemented)
                </td>
            </tr>

            <tr>
                <td>
                    <h5 style="color:#3399ff; text-align:center">
                        <b>-OR-</b>
                    </h5>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <h5><b>Input Event Information</b></h5>
                </td>
            </tr>
            <tr>
                <td><b>Title: </b></td>
                <td colspan="2">
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="Title of event." name="eventname">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Starting Time:</b>
                </td>
                <td>
                    <div class="navbar-form">
                        <input type="date" class="form-control" placeholder="Oct 18 2016" name="date">
                    </div>
                </td>
                <td>
                    <div class="navbar-form">
                        <input type="time" class="form-control" placeholder="1:00 PM" name="time">
                    </div>
                </td>
            </tr>

            <tr>
                </div>
                <td>
                    <b>Ending Time:</b>
                </td>
                <td>
                    <div class="navbar-form">
                        <input type="date" class="form-control" placeholder="Oct 18 2016" name="endddate">
                    </div>
                </td>
                <td>
                    <div class="navbar-form">
                        <input type="time" class="form-control" placeholder="2:00 PM" name="endtime">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Location:</b></td>
                <td colspan="2">
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="Event location." name="location">
                    </div>
                </td>
            </tr>

            <tr>
                <td><b>About</b></td>
                <td colspan="2">
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="Details about the event." name="about">
                    </div>
                </td>
            </tr>

            <tr>
                <td><b>Add Photo</b></td>
                <td colspan="2">
                    <a class="btn btn-default" href="#">Import
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a> (Unimplemented)
                </td>
            </tr>

            <tr>
                <td>
                    <!--                    <a href="/">-->
                    <input type="submit" id="submitBtn" class="btn btn-default" value="Add Event"></input>
                    <!--    onclick="javascript:redirect();"-->
                    <!--                    </a>-->

                </td>
            </tr>
            <tr>
                <td colspan = 2>
                    <a class="btn btn-default" href="/eventlistpage">Return to Events list.  
                    </a>
                </td>
            </tr>
        </table>
    </form>
    {{>googleAnalytics}}
</body>
<!--
<script>
    function redirect() {
        console.log("hi");
        console.log(window.location.hostname);
        //        console.log(window.location.href = '../');
        //        var indexpage = ;
        //        window.location.assign(indexpage);
        //        window.location.href = '/path';
        window.location.assign('http://localhost:8080/');
        console.log(window.location.href);
        console.log("bye");
    }
</script>
-->

</html>