<!DOCTYPE html>
<html lang="en">

<!--Loading head information & navbar-->
<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
<script>
    $(function () {
        $("#navbar").load("templates/navbar.handlebars")
    });
</script>
<div id="navbar"></div>

<!--Main body of page-->

<body>
    <div class="container">
        <form id="addEventForm" role="form" method="get" action="/addEvent">
            <h4 style="color:#3399ff">
            <b>Choose method for adding new event</b>
        </h4>
            <a class="btn btn-default" href="#">Import Event
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a> (Unimplemented)

            <h5 style="color:#3399ff; text-align:center">
                <b>-OR-</b>
            </h5>
            <h5><b>Input Event Information</b></h5>

            <div class="input-group">
                <span class="input-group-addon">Title</span>
                <input type="text" class="form-control" name="eventname" placeholder="Title of event. Max length: 25 characters." required maxlength="25">
            </div>
            <p></p>
            <div class="input-group">
                <span class="input-group-addon">Starting Time</span>
                <input type="datetime-local" class="form-control" name="timedate" required>
            </div>
            <p></p>
            <div class="input-group">
                <span class="input-group-addon">Ending Time</span>
                <input type="datetime-local" class="form-control" name="endtimedate">
            </div>
            <p></p>
            <div class="input-group">
                <span class="input-group-addon">Location</span>
                <input type="text" class="form-control" name="location" placeholder="Location of event.">
            </div>
            <p></p>
            <div class="input-group">
                <span class="input-group-addon">About</span>
                <input type="text" class="form-control" name="about" placeholder="Details about the event.">
            </div>
            <p></p>
            <div class="input-group">
                <span class="input-group-addon">Add Photo</span>
                <input style="background-color:transparent" type="text" class="form-control" name="about" placeholder="(Unimplemented)" disabled>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">Browse...</button>
                </div>
            </div>
            <p></p>
            <input type="submit" id="submitBtn" class="btn btn-primary" value="Add Event"></input>
            <a class="btn btn-primary" href="/eventlistpage">Return to Events list.  
            </a>

        </form>
    </div>
    {{>googleAnalytics}}
</body>
<!--
<script>
    function redirect() {
        console.log("hi");
        console.log(window.location.hostname);
        //        console.log(window.location.href = '../');
        //        var indexpage = ;
        //        window.location.assign(indexpage);
        //        window.location.href = '/path';
        window.location.assign('http://localhost:8080/');
        console.log(window.location.href);
        console.log("bye");
    }
</script>
-->

</html>