<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Effective-Eureka</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--    <link href="css/spacelab.css" rel="stylesheet">-->
    <link href="css/style.css" rel="stylesheet">
    <!-- These lines are needed for Javascript and also enables Heroku to publish our app -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/handlebars-v4.0.5.js"></script>
    <!--<script src="js/index.js"></script>-->

</head>
<header>
    <div class="custom-container">
        <div class="navigationbar-flex navbar-default">
            <div class="flexleft">
                <a class="navigationbar-item" href="/filterpage">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
            </div>
            <form class="search-form flexleft">
                <input type="text" class="search-box" placeholder="🔎 Search">
            </form>
            <div class="flexright">
                <a class="navigationbar-item" href="/addeventpage">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
                <a class="navigationbar-item" href="/profilepage">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
                <a class="navigationbar-item" href="/">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </a>
                <!--
                <a class="navigationbar-item" href="">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
-->
            </div>
        </div>

</header>

<body class="container">

    <form id="addEventForm" role="form" method="get" action="/addEvent">
        <h4 style="color:#3399ff">
            <b>Choose method for adding new event</b>
        </h4>

        <table>
            <tr>
                <td colspan="3">
                    <a class="btn btn-default" href="#">Import Event
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a> (Unimplemented)
                </td>
            </tr>

            <tr>
                <td>
                    <h5 style="color:#3399ff; text-align:center">
                        <b>-OR-</b>
                    </h5>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <h5><b>Input Event Information</b></h5>
                </td>
            </tr>
            <tr>
                <td><b>Title: </b></td>
                <td colspan="2">
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="Title of event." name="eventname">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Starting Time:</b>
                </td>
                <td>
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="Oct 18 2016" name="date">
                    </div>
                </td>
                <td>
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="1:00 PM" name="time">
                    </div>
                </td>
            </tr>

            <tr>
                </div>
                <td>
                    <b>Ending Time:</b>
                </td>
                <td>
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="Oct 18 2016" name="endddate">
                    </div>
                </td>
                <td>
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="2:00 PM" name="endtime">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Location:</b></td>
                <td colspan="2">
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="Event location." name="location">
                    </div>
                </td>
            </tr>

            <tr>
                <td><b>About</b></td>
                <td colspan="2">
                    <div class="navbar-form">
                        <input type="text" class="form-control" placeholder="Details about the event." name="about">
                    </div>
                </td>
            </tr>

            <tr>
                <td><b>Add Photo</b></td>
                <td colspan="2">
                    <a class="btn btn-default" href="#">Import
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a> (Unimplemented)
                </td>
            </tr>

            <tr>
                <td>
<!--                    <a href="/">-->
                        <input type="submit" id="submitBtn" class="btn btn-default" value="Submit" href= "/"></input>
<!--                    </a>-->
                </td>
            </tr>
        </table>
    </form>
</body>

</html>