<!DOCTYPE html>
<html lang="en">
    <div class="row-bottom-margin" role="row">
        <table>
            <tr>
                <td>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Add to the discussion.">
                        </div>
                    </form>
                </td>
                <td>
                    <button type="submit" class="btn btn-default" onclick="change()">Submit</button>
                </td>
            </tr>
        </table>
        <div class="g-grid">
        <section class="1-pad-bot-5 1-sm-pad-bot-3">
            <div class="js-popular-events">
                <div class="js-events-list">
                    {{#each notifications}}
                    <div class="g-cell g-cell--has-overflow g-cell-1-1 g-cell-md-1-2-g-cell-lg-1-3 1-pad-vert-3" role="row">
                        <div class="well well-sm" style="margin-bottom:0px;" role="gridcell">
                            <div style="display: inline-block">
                               <div style="display: inline-block">
                                    <img style="height:150px;width:150px" src="{{img}}" alt="">
                                </div>
                                <div style="display: inline-block"> 
                                    <div>{{name}}</div>
                                    <div>{{post}}</div>                      
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
    </div>
    </div>
</html>