<!DOCTYPE html>
<html lang="en">

<!--Loading head information & navbar-->
<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
<script>
    $(function () {
        $("#navbar").load("templates/navbar.handlebars")
    });
</script>
<div id="navbar"></div>

<!--Main body of page-->
<body class="container">
    <center><h4><b>Filter Events by Category:</b></h4></center>
    <button type="button" class="btn btn-default btn-lg btn-block">Health</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Academic/Knowledge</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Career/Professional</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Community/Outreach</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Recreation</button>
    <button type="button" class="btn btn-default btn-lg btn-block">Expression</button>
    <center><p>(Currently not implemented yet.)</p></center>
</body>

</html>