
li {
  position: relative;
    border-color: black;
    border-radius: 10px;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  min-width: 110%;
  max-width: 110%;
  min-height: 8em;
  max-height: 8em;
  list-style-type: none;
  list-style-type: none;
  background-color: lightgray;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
}

.delete{
    background-color: red;
    color: red;
    z-index: 1;
    min-height: 7em;
    max-height: 7em;
    float: left;
}

body {
    border: 1px solid transparent;
}