<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>Effective-Eureka</title>

<!--CSS Styling-->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- These lines are needed for Javascript and also enables Heroku to publish our app -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/handlebars-v4.0.5.js"></script>
<script src="js/index.js"></script>