<header>
    <div class="custom-container">
        <div class="navigationbar-flex navbar-default">
            <div class="flexleft">
                <a class="navigationbar-item" href="/filterpage">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
            </div>
            <form class="search-form flexleft">
                <input type="text" class="search-box" placeholder="Search">
            </form>
            <div class="flexright">
                <a class="navigationbar-item btn btn-default" href="javascript:login('show')">
                    <span>Login</span>
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                </a>
<!--
                <a class="navigationbar-item" href="">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
-->
            </div>
        </div>
    </div>
</header>